/*PRODUTO*/
.produto-detalhe{
margin-top: 100px;
}
.produto-detalhe h1 {
    margin-top: 0px;
    font-weight: 100;
}
.produto-detalhe .valor {
    font-size: 32px;
    margin-top: 20px;
}
.produto-detalhe .especificacao{
    margin-top: 50px;
    border-top: 1px solid #ddd;
    padding-top: 30px;
}
.produto-detalhe .especificacao h2 {
    font-size: 22px;
}
.produto-detalhe .especificacao h3 {
    font-size: 16px;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding-top: 5px ;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .produto-detalhe .gallery-container {
    position: relative;
    display: none;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
  .produto-detalhe .column,  .produto-detalhe .container {
    border: 1px solid #ccc;
  }
  
  .row-descricao .container h2 {

    color: darkred;
  }
